
@using Makale_entities
@model List<Makale>


@{
    ViewBag.Title = "Index";
}



<!-- Page Content -->
<div class="container">

    <div class="row">
       <div class="col-md-3">@Html.Partial("PartialPageKategori")</div>


        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
                
               @{
                    Random r = new Random();
                    int x = r.Next(200, 240);
                    string link = "https://picsum.photos/id/" + x + "/200/300"; //x arada ki random id ler için for each halinde sürekli değişiyor 
                }
                <br />
                @foreach (var item in Model)
                {
                    x = r.Next(200, 240);
                    link = "https://picsum.photos/id/" + x + "/200/300";
                    

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@link" alt="">
                            <div class="caption">

                                <h4>
                                    <a href="#">@item.Baslik </a>
                                </h4>
                                <h6 class="text-right">
                                    <span class="glyphicon glyphicon-user"></span>@item.Kullanici.KullaniciAdi
                                    <br />
                                    <span class="glyphicon glyphicon-time"></span>@item.DegistirmeTarihi.ToString("dd:MM:yy")
                                </h6>
                                @if (!string.IsNullOrEmpty(item.Icerik)&&item.Icerik.Length > 60)
                                {
                                    <p>@item.Icerik.Substring(0, 60)</p>
                                    <p> <a href="#" class="btn btn-default btn-xs">devamı<span class="glyphicon glyphicon-chevron-right"></span></a></p>    
                                }
                                else
                                {
                                    <h5> @item.Icerik</h5>
                                }


                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                <p class="pull-right"> <button class="btn btn-default btn-sm "><span class=" glyphicon glyphicon-comment"></span>  Yorumlar</button></p>

                                <p>
                                    <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-heart"></span>@item.BegeniSayisi</button>

                                </p>


                            </div>

                        </div>
                    </div>
                }




            </div>

        </div>

    </div>

</div>
<!-- /.container -->
